:root {
  --purple: #5856d6;
  --purple-sec: #5856d633;
  --pink: #ff2f54;
  --pink-sec: #ff2f5433;
  --indigo: #505dd3;
  --indigo-sec: #505dd333;
  --cyan: #53c7f0;
  --cyan-sec: #53c7f033;
  --grey: #98989d;
  --blue: #008afc;
  --blue-sec: #008afc33;
  --red: #ff3b30;
  --red-sec: #ff3b3033;
  --orange: #ff9500;
  --orange-sec: #ff950033;
  --green: #4cd964;
  --green-sec: #4cd96433;
  --yellow: #ffcc00;
  --yellow-sec: #ffcc0033;

  --dark-bg: #1c1c1e;

  --grey-1: #a4a4a4;
  --grey-2: #4a4a4a;

  --white: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}


.text-white {
  color: var(--white);
}

.text-grey {
  color: var(--grey);
}

.text-grey-1 {
  color: var(--grey-1);
}

.text-grey-2 {
  color: var(--grey-2);
}

.text-purple {
  color: var(--purple);
}

.text-pink {
  color: var(--pink);
}

.text-indigo {
  color: var(--indigo);
}

.text-cyan {
  color: var(--cyan);
}

.text-blue {
  color: var(--blue);
}

.text-red {
  color: var(--red);
}

.text-orange {
  color: var(--orange);
}

.text-green {
  color: var(--green);
}

.text-yellow {
  color: var(--yellow);
}

.bg-dark {
  background-color: var(--dark-bg);
}

.bg-white {
  background-color: var(--white);
}

.bg-grey {
  background-color: var(--grey);
}

.bg-grey-1 {
  background-color: var(--grey-1);
}

.bg-grey-2 {
  background-color: var(--grey-2);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-indigo {
  background-color: var(--indigo);
}

.bg-cyan {
  background-color: var(--cyan);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-red {
  background-color: var(--red);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-green {
  background-color: var(--green);
}

.bg-yellow {
  background-color: var(--yellow);
}

.font-header-1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.font-header-2 {
  font-size: 2rem;
  font-weight: 700;
}

.font-header-3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

.font-italic {
  font-style: italic;
}

.font-underline {
  text-decoration: underline;
}

.font-strike {
  text-decoration: line-through;
}

.font-uppercase {
  text-transform: uppercase;
}

.font-lowercase {
  text-transform: lowercase;
}
