.center-title {
    text-align: center;
  }
  
  .header {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  #gamer-name {
    font-size: 1em;
    padding: 10px;
    width: 200px;

    border-radius: var(--radius);

    border: 2px solid var(--grey-1);

  }
  
  .game-cell-container,.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--white);
  }

  .game-cell {
    width: 300px;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    background-color: var(--white);
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .controller {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .new-gamer,
  .start-game {
    margin: 0 10px;
  }
  
  button {
    margin: 5px;
  }
  
  .action-button {
    font-size: 1.2em;
    padding: 10px;
    margin-top: 10px;
    width: 60px;
  }
  
  .game-cell .action-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
  }
  
  .orange-button {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
  }

  .orange-button:hover {
    background-color: var(--orange-sec);
  }
  
  .green-button {
    background-color: var(--green);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .red-button {
    background-color: var(--red);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .leaderboard {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .leaderboard ol {
    padding-left: 0;
    list-style: none;
  }
  
  .leaderboard-item {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .rank-1 {
    color: gold;
  }
  
  .rank-2 {
    color: silver;
  }
  
  .rank-3 {
    color: brown;
  }
  
