/* FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+New:wght@400;700&display=swap');

body, .fontFamily-Times-New-Roman {
  font-family: 'Times New Roman', Times, serif;
}

.fontFamily-Arial {
  font-family: Arial, sans-serif;
}

.fontFamily-Courier-New {
  font-family: 'Courier New', Courier, monospace;
}

.fontFamily-Comic-Sans-MS {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}


.main{
  width: 100%;
  height: 100%;
  background-color: #F0D6C3; /*#e5dcc5;*/
}

.display {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.display-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 0.3rem;
  border: 1px solid var(--grey-1);
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  text-align: center;
  word-break: break-word;
  background-color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.editor-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.editor {
  width: 49%;
  border: 1px solid var(--grey-1);
  border-radius: 10px;
  padding: 1rem;
  background-color: #F0E8E3/*#f7f3e8*/;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.editor-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 1rem;
  gap: 2rem;
}


.text-cell {
  width: 100%;
  text-align: center;
}
/* not used anymore
.save-button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.save-button:hover {
  background-color: var(--blue-sec);
}
*/
#font-selector {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.input-group {
  display: flex;
  font-size: 1.2rem;
  justify-content: start;
  align-items: center;
  gap: 0.4rem;
}

.checkboxes-group {
  display: flex;
  justify-content: start;
  align-items: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.checkbox-style {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.checkbox-bold {
  font-weight: bold;
}

.checkbox-italic {
  font-style: italic;
}

.checkbox-underline {
  text-decoration: underline;
}

.checkbox-strike {
  text-decoration: line-through;
}

.editor h2 {
  margin-bottom: 1rem;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 49%;
  background-color: #F0E8E3;
  border: 1px solid var(--grey-1);
  border-radius: 10px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  flex-wrap: wrap;
}

.keyboard-key {
  font-size: 24px;
  padding: 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  flex: 1 1 40px; 
  max-width: 80px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-key.pressed {
  background-color: #ddd;
  transform: scale(0.95);
}

.keyboard-key.backspace {
  font-size: 25px;
}

